<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button
      class="btn btn-light"
      [routerLink]="'/'"
    >Home page</button>
  </div>

  <div class="info">
    <strong>Post Author</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, animi aut beatae consequuntur, corporis dolorem doloremque doloribus error fugit nesciunt nulla numquam quia! Aut ipsa laudantium magnam necessitatibus suscipit voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, animi aut beatae consequuntur, corporis dolorem doloremque doloribus error fugit nesciunt nulla numquam quia! Aut ipsa laudantium magnam necessitatibus suscipit voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, animi aut beatae consequuntur, corporis dolorem doloremque doloribus error fugit nesciunt nulla numquam quia! Aut ipsa laudantium magnam necessitatibus suscipit voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, animi aut beatae consequuntur, corporis dolorem doloremque doloribus error fugit nesciunt nulla numquam quia! Aut ipsa laudantium magnam necessitatibus suscipit voluptate.</p>
  </div>
</div>